ul{
    display: flex;
    flex-direction: row;
    list-style: none ;
}
nav a{
    margin-left: 1rem;
}
.hero img{
    width: 200px;
}
article img{
    border: 4px solid #96dfe2;
    height: 150px;
    width: 300px;
    filter: brightness(75%);
    transition: 200ms;
    z-index: -1;
}
.main{
    border: 4px solid #96dfe2;
    height: 300px;
    width: 300px;
    filter: brightness(75%);
    transition: 200ms;
    z-index: -1;
}

article img:hover{
    filter: none;
}


@media screen and (min-width: 768px) {
    .grid-control {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        gap: 20px;
    }    
    .box-1, .box-1 img {
        grid-column: span 2;
        width: 620px;
      
    }
}
.box{
    position: relative;
}
 .heading{
    position: absolute;
    background-color: #96dfe2;
    z-index: 999;
    bottom: 0;
    margin-bottom: 2rem
;
}