ul{
    display: flex;
    flex-direction: row;
    list-style: none ;
}
nav a{
    margin-left: 1rem;
}
.box{
    border: 2px solid #222;
    width: 300px;
}

@media screen and (min-width: 768px) {
.work {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 10px;
}    
.work img .box{
    grid-column: span 2;
    width: 600px;
    height: auto;
}
}
.hero img{
    width: 200px;
}

@media screen and (min-width: 768px) {
    .work {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        gap: 10px;
    }    
    .box-1{
        grid-column: span 2;
        width: 610px;
        height: auto;
    }
}